{
  "parser": "babel-eslint",
  "extends": "hapi",
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "plugins": [
    "babel",
    "eslint-plugin-hapi"
  ],
  "rules": {
    "strict": 0,
    "func-style": [0, "expression"],
    "babel/generator-star-spacing": 0,
    "babel/new-cap": 0,
    "babel/object-curly-spacing": 0,
    "babel/object-shorthand": 0,
    "babel/arrow-parens": 0,
    "consistent-return": 0,
    "vars-on-top": 0,
    "one-var": 0,
    "new-cap": 0,
    "no-console": 0,
    "no-constant-condition": 0,
    "no-empty": 0,
    "no-native-reassign": 0,
    "no-underscore-dangle": 0,
    "no-undef": 0,
    "no-process-exit": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "no-regex-spaces": 0,
    "no-catch-shadow": 0,
    "handle-callback-err": 0,
    "no-lonely-if": 0,
    "brace-style": 0,
    "no-shadow": 0,
    "hapi/no-shadow-relaxed": [1, { "ignore": ["err", "done"] }],
    "hapi/hapi-capitalize-modules": [1, "global-scope-only"],
    "hapi/hapi-scope-start": 0,
    "array-bracket-spacing": 1,
    "dot-notation": 1,
    "eol-last": 1,
    "camelcase": 0,
    "no-trailing-spaces": 0,
    "no-eq-null": 1,
    "no-extend-native": 1,
    "no-redeclare": 1,
    "no-loop-func": 1,
    "yoda": [1, "never"],
    "sort-vars": 0,
    "quotes": [0, "single"],
    "consistent-this": [2, "self"],
    "new-parens": 2,
    "no-array-constructor": 2,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-mixed-spaces-and-tabs": 2,
    "space-after-keywords": 0,
    "semi": [0, "always"],
    "semi-spacing": [2, { "before": false, "after": true }],
    "space-infix-ops": 0,
    "space-return-throw-case": 2,
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "eqeqeq": 2,
    "curly": [0, "all"],
    "no-eval": 2,
    "no-else-return": 0,
    "no-return-assign": 2,
    "no-new-wrappers": 2,
    "comma-dangle": [0, "never"],
    "no-sparse-arrays": 2,
    "no-ex-assign": 2,
    "indent": [0, 2],
    "space-before-function-paren": 0,
    "object-curly-spacing": 0
  }
}
